.Vacancies-width
  .Open-wrapper
    求人情報を公開する
  .Wrapper
    = form_with model: job, html: {class: "Job-admin"}, local: true do |form|
      .Job-admin__title
        仕事のタイトルを入力しましょう
      .Job-admin__text
        = form.text_field :title, class: 'Job-admin__text--title', placeholder: 'ここに文章を入力してください'
      .Company-images
        .Company-images__text
          写真を掲載しましょう
        .Company-images__image
          .Company-images__image--file
            = form.label :image1 do
              = form.file_field :image1



      .Vacancy
        .Write-title
          求人詳細を記入しましょう
        .Write-infos
          .Vacancy-writes
            .Vacancy-writes__left
              職種
            .Vacancy-writes__right
              = form.text_field :occupation, class: "Vacancy-writes__right", placeholder: '営業事務'
          .Vacancy-writes
            .Vacancy-writes__left
              勤務地
            .Vacancy-writes__right
              = form.text_field :description, placeholder: 'ここに文章を入力してください'
          .Vacancy-writes
            .Vacancy-writes__left
              給与
            .Vacancy-writes__right
              = form.text_field :salary, placeholder: 'ここに文章を入力してください'
          .Vacancy-writes
            .Vacancy-writes__left
              アクセス
            .Vacancy-writes__right
              = form.text_field :access, placeholder: 'ここに文章を入力してください'
          .Vacancy-writes
            .Vacancy-writes__left
              勤務時間
            .Vacancy-writes__right
              = form.text_field :time, placeholder: 'ここに文章を入力してください'
          .Vacancy-writes
            .Vacancy-writes__left
              曜日・日数
            .Vacancy-writes__right
              = form.text_field :week, placeholder: 'ここに文章を入力してください'
          .Vacancy-writes
            .Vacancy-writes__left
              募集人数
            .Vacancy-writes__right
              = form.text_field :emplyee, placeholder: 'ここに文章を入力してください'
          .Vacancy-writes
            .Vacancy-writes__left
              契約期間
            .Vacancy-writes__right
              = form.text_field :term, placeholder: 'ここに文章を入力してください'
        
      .Pr-writes
        .Pr-writes__title
          PRポイント
        .Pr-writes__box
          .Pr-writes__box--text
            残業ほぼなしカジュアルOK！
          .Pr-writes__box--text
            あっとホーム環境◎
          .Pr-writes__box--text
            引継ぎしっかり！
          .Pr-writes__box--text
            引継ぎしっかり
      .Button-wrapper
        = form.submit '掲載する', class: 'Button-wrapper__button'

  .Title
    .Title__text
      登録案件一覧
  %ul.Bottom-wrapper
    - @lists.each do |list|
      %li.Contents
        .Top-content
          = image_tag list.image1.url, class: 'Top-content__img' if list.image1.present?
        %table.Middle-content
          %tr.Text-content
            %td.Text-content__left
              仕事内容
            %td.Text-content__right
              =list.title
          %tr.Text-content
            %td.Text-content__left
              時給
            %td.Text-content__right
              =list.salary
          %tr.Text-content
            %td.Text-content__left
              終業期間
            %td.Text-content__right
              =list.term
        .Bottom-content
          = link_to edit_job_path(list.id), class: "Bottom-Contents__btn", method: :get do
            編集
          = link_to job_path(list.id), class: "Bottom-Contents__btn", method: :delete do
            削除