.Wrapper
  .Title-wrapper
    求人情報
  = form_with model: job, html: {class: "Job-wrapper"}, local: true do |form|
    .User-contents__title
      【仕事のキャッチコピーを入力】
      = form.text_field :title, maxlength: 64, class: 'Upper-contents__name', placeholder: 'ここに文章を入力してください'
    .Image-contents
      .Image-contents__post
        【写真掲載】
      %ul.Job-images
        %li.Job-images__list1
          = form.label :image, class: "Job-images__list1--img" do
            = icon('fas', 'image')
            = form.file_field :image, class: 'Job-images__list1--file'
        %li.Job-images__list
    .Vacancy-contents
      .Vacancy-title
        【求人詳細記入】
      %table.Vacancy-infos
        %tr.Vacancy-item
          %td.Vacancy-item__left
            勤務地
          %td.Vacancy-item__right
            = form.text_field :text, placeholder: 'ここに文章を入力してください'
        %tr.Vacancy-item
          %td.Vacancy-item__left
            給与
          %td.Vacancy-item__right
            = form.text_field :text, placeholder: 'ここに文章を入力してください'
        %tr.Vacancy-item
          %td.Vacancy-item__left
            アクセス
          %td.Vacancy-item__right
            = form.text_field :text, placeholder: 'ここに文章を入力してください'
        %tr.Vacancy-item
          %td.Vacancy-item__left
            勤務時間
          %td.Vacancy-item__right
            = form.text_field :text, placeholder: 'ここに文章を入力してください'
        %tr.Vacancy-item
          %td.Vacancy-item__left
            曜日・日数
          %td.Vacancy-item__right
            = form.text_field :text, placeholder: 'ここに文章を入力してください'
        %tr.Vacancy-item
          %td.Vacancy-item__left
            募集人数
          %td.Vacancy-item__right
            = form.text_field :text, placeholder: 'ここに文章を入力してください'
        %tr.Vacancy-item
          %td.Vacancy-item__left
            契約期間
          %td.Vacancy-item__right
            = form.text_field :text, placeholder: 'ここに文章を入力してください'
        %tr.Vacancy-item
          %td.Vacancy-item__left
            営業担当
          %td.Vacancy-item__right
            = form.text_field :text, placeholder: 'ここに文章を入力してください'
        %tr.Vacancy-item
          %td.Vacancy-item__left
            都道府県
          %td.Vacancy-item__right
            = form.text_field :text, placeholder: 'ここに文章を入力してください'
      .Staff-contents
        .Staff-contents__title
          【担当営業】
        .Sales-staffs
          .Sales-staff__name
            "山田 太郎"
          .Sales-staff__name
            "石倉 香"
          .Sales-staff__name
            "山口 上"
      .Pr-contents
        .Pr-title
          PRポイント
        .Pr-box
          .Pr-box__text
            残業ほぼなしカジュアルOK！
          .Pr-box__text
            あっとホーム環境◎
          .Pr-box__text
            引継ぎしっかり！
          .Pr-box__text
            引継ぎしっかり
    .Button-wrapper
      = form.submit '掲載する', class: 'Button-wrapper__button'