.Vacancies-width
  .Open-wrapper
    求人情報を公開する
  .Wrapper
    = form_with model: job, html: {class: "Job-admin"}, local: true do |form|
      .Job-admin__title
        仕事のタイトルを入力しましょう
      .Job-admin__text
        = form.text_field :title, class: 'Job-admin__text--title', placeholder: '超大手！時給アップも見込める◎'
      .Company-images
        .Company-images__text
          写真を掲載しましょう
        .Company-images__image
          .Company-images__image--file
            = form.label :image1 do
              = form.file_field :image1



      .Vacancy
        .Write-title
          求人詳細を記入しましょう
        .Write-infos
          .Vacancy-writes
            .Vacancy-writes__left
              職種
            .Vacancy-writes__right
              = form.text_field :occupation, class: "Vacancy-writes__right", placeholder: '営業事務・貿易事務'
          .Vacancy-writes
            .Vacancy-writes__left
              勤務地
            .Vacancy-writes__right
              = form.text_field :description, placeholder: '東京都　品川区'
          .Vacancy-writes
            .Vacancy-writes__left
              給与
            .Vacancy-writes__right
              = form.text_field :salary, placeholder: '時給1500円〜'
          .Vacancy-writes
            .Vacancy-writes__left
              アクセス
            .Vacancy-writes__right
              = form.text_field :access, placeholder: '各線　品川駅　徒歩　10分'
          .Vacancy-writes
            .Vacancy-writes__left
              勤務時間
            .Vacancy-writes__right
              = form.text_field :time, placeholder: '平日　09:00〜18:00'
          .Vacancy-writes
            .Vacancy-writes__left
              曜日・日数
            .Vacancy-writes__right
              = form.text_field :week, placeholder: '平日（月曜〜金曜）土・祝日・日は休み'
          .Vacancy-writes
            .Vacancy-writes__left
              募集人数
            .Vacancy-writes__right
              = form.text_field :emplyee, placeholder: '３人'
          .Vacancy-writes
            .Vacancy-writes__left
              契約期間
            .Vacancy-writes__right
              = form.text_field :term, placeholder: '長期'
        
      .Pr-writes
        .Pr-writes__title
          PRポイント
        .Pr-writes__text
          職場の良さを３つアピールしましょう！
        .Pr-writes__box
          .Pr-writes__box--text
            = form.text_field :pr1, placeholder: 'キレイオフィス！'
          .Pr-writes__box--text
            = form.text_field :pr2, placeholder: 'デニム・スニーカーOK！'
          .Pr-writes__box--text
            = form.text_field :pr3, placeholder: 'リーダーへの相談もできるので困りません！'
      .Button-wrapper
        = form.submit '求人を掲載する', class: 'Button-wrapper__button'


    .Title-view
      .Title-view__text
        登録案件一覧
    %ul.View-wrapper
      - @lists.each do |list|
        %li.View-contents
          .View-title
            =list.title
          .View-top
            = image_tag list.image1.url, class: 'View-top __img' if list.image1.present?
          %table.View-middle
            %tr.View-text
              %td.View-text__left
                職種
              %td.View-text__right
                =list.occupation
            %tr.View-text
              %td.View-text__left
                時給
              %td.View-text__right
                =list.salary
            %tr.View-text
              %td.View-text__left
                勤務地
              %td.View-text__right
                =list.description
            %tr.View-text
              %td.View-text__left
                終業期間
              %td.View-text__right
                =list.term
          .View-bottom
            = link_to edit_job_path(list.id), class: "View-bottom__btn", method: :get do
              編集
            = link_to job_path(list.id), class: "View-bottom__btn", method: :delete do
              削除