.Wrapper-match
  .Top-wrapper
    %ul.Top-images
      %li.Top-images__image1
        1
      %li.Top-images__image2
        2
      %li.Top-images__image
        3
      %li.Top-images__image
        4
      -# %li.Top-images__image
      -#   5
    .Top-login
      = link_to user_session_path, class: 'Top-login__text' do
        Login

  .Info-wrapper
    .Title
      新着情報
    .Message-lists
      .Message-lists__box
        .Message-lists__box--date
          2020/08/24
        .Message-lists__box--message
          キャプションキャプションキャプションキャプションキャプション
      .Message-lists__box
        .Message-lists__box--date
          2020/08/24
        .Message-lists__box--message
          キャプションキャプションキャプションキャプションキャプション
      .Message-lists__box
        .Message-lists__box--date
          2020/08/24
        .Message-lists__box--message
          キャプションキャプションキャプションキャプションキャプション
      .Message-lists__box
        .Message-lists__box--date
          2020/08/24
        .Message-lists__box--message
          キャプションキャプションキャプションキャプションキャプション
   
   
  .Under-wrapper
    .Bar-left
      .Upper-job
        .Upper-job__new
          NEW
        .Upper-job__no
          job.no eeeeeeee
      - @matches.each do |match|
        .Job-catch
          =match.title
        .Contents
          .Top-content
            = image_tag match.image1.url, class: 'Top-content__img' if match.image1.present?
          .Middle-content
            .Text-content
              .Text-content__left
                仕事内容
              .Text-content__right
                =match.title
            .Text-content
              .Text-content__left
                時給
              .Text-content__right
                =match.salary
            .Text-content
              .Text-content__left
                終業期間
              .Text-content__right
                =match.term
          .Bottom-content
            = link_to match_path(match.id), class: "Bottom-Contents__btn" do
              編集
            = link_to '#', class: "Bottom-Contents__btn", method: :delete do
              いいね！

    .Bar-right
      .Message-wrapper
        .Message-title
          仕事を検索する
        .Search-box
          = form_with url: search_matches_path, local: true, method: :get do |form|
            = form.text_field :keyword, class: 'Seach-box__input', placeholder: '仕事を検索する'
            = form.submit '検索', class: 'Search-box__button'
