.Wrapper-match
  .Top-wrapper
    %ul.Top-images
      %li.Top-images__image1
        1
      %li.Top-images__image2
        2
      %li.Top-images__image
        3
      %li.Top-images__image
        4
      -# %li.Top-images__image
      -#   5
    .Top-login
      = link_to user_session_path, class: 'Top-login__text' do
        Login

  .Info-wrapper
    .Title
      新着情報
    .Message-lists
      .Message-lists__box
        .Message-lists__box--date
          2020/08/24
        .Message-lists__box--message
          キャプションキャプションキャプションキャプションキャプション
      .Message-lists__box
        .Message-lists__box--date
          2020/08/24
        .Message-lists__box--message
          キャプションキャプションキャプションキャプションキャプション
      .Message-lists__box
        .Message-lists__box--date
          2020/08/24
        .Message-lists__box--message
          キャプションキャプションキャプションキャプションキャプション
      .Message-lists__box
        .Message-lists__box--date
          2020/08/24
        .Message-lists__box--message
          キャプションキャプションキャプションキャプションキャプション
   
  .Under-info
    .Under-info__icon
      =icon('far','folder-open', class: 'Under-info__icon--folder')
    .Under-info__text
      お仕事一覧
   
  .Under-wrapper
    .Bar-left
      .Bar-left__upper
        .Bar-left__upper--title
          応募可能な全てのお仕事を公開しています
        .Bar-left__upper--text
          ページネーションが入ります。
      .Bar-left__middle
        - matches.each do |match|
          %a{ href: match_path(match.id), class: "Job-link" } 
            .Job-box
              .Upper-job
                .Upper-job__new
                  NEW
                .Upper-job__no
                  job.no eeeeeeee
              .Job-catch
                .Job-catch__textarea
                  .Job-catch__textarea--text
                    =match.title
                .Job-catch__box
                  .Job-catch_box--star
                    -if current_user.already_favorited?(match) 
                      = link_to job_favorites_path(match), method: :delete do
                        いいねをはずす
                        -# = icon('far', 'star')
                        -# 気になる！
                    - else
                      = link_to job_favorites_path(match), method: :post do
                        いいねする
                    = match.favorites.count
              .Contents
                .Content-left
                  = image_tag match.image1.url, class: 'Content-left__img' if match.image1.present?
                .Content-right
                  .Text-content
                    .Text-content__left
                      = icon('far', 'file-alt')
                    .Text-content__right
                      =match.occupation
                  .Text-content
                    .Text-content__left
                      = icon('fas', 'yen-sign')
                    .Text-content__right
                      =match.salary
                  .Text-content
                    .Text-content__left
                      = icon('far', 'calendar-alt')
                    .Text-content__right
                      =match.term
                  .Text-content
                    .Text-content__left
                      = icon('fas', 'map-marker-alt')
                    .Text-content__rightlong
                      =match.access
            -# = link_to match_path(match.id), class: Job-box__link do
            -#  編集

    .Bar-right
      .Search-wrapper
        .Search-title
          仕事を検索する
        .Search-box
          = form_with url: search_matches_path, local: true, method: :get do |form|
            = form.text_field :keyword, class: 'Search-box__input', placeholder: '仕事を検索する'
            = form.submit '検索', class: 'Search-box__button'
