.Wrapper-match
  .Top-wrapper
    .Top-images
      %ul.slider
        %li
          = image_tag 'top1.jpg'
        %li
          = image_tag 'top2.jpg'
        %li
          = image_tag 'top3.jpg'
        %li
          = image_tag 'top4.jpg'
    -# .Top-catchcopy
    -#   自分らしく働く。

  .Info-wrapper
    .Title
      .Title__icon
        =icon('fas','info-circle', class: 'Title__icon--color')
      .Title__text
        お知らせ
    .Message-lists
      .Message-lists__box
        .Message-lists__box--date
          2020/09/24
        .Message-lists__box--message
          キャプションキャプションキャプションキャプションキャプション
      .Message-lists__box
        .Message-lists__box--date
          2020/08/24
        .Message-lists__box--message
          キャプションキャプションキャプションキャプションキャプション
      .Message-lists__box
        .Message-lists__box--date
          2020/07/24
        .Message-lists__box--message
          キャプションキャプションキャプションキャプションキャプション
      .Message-lists__box
        .Message-lists__box--date
          2020/04/01
        .Message-lists__box--message
          = link_to "https://www.neo-career.co.jp/humanresource/knowhow/c-content-parttime-douitutinkinn-190604/", class: "Message-lists__box--message--color" do
            「同一労働・同一賃金」が派遣社員にもたらす影響とは？
   
  .Under-info
    .Under-info__icon
      =icon('far','folder-open', class: 'Under-info__icon--folder')
    .Under-info__text
      お仕事一覧
   
  .Under-wrapper
    .Bar-left
      .Bar-left__upper
        .Bar-left__upper--title
          応募可能な全てのお仕事を公開しています
        .Bar-left__upper--text
          - @matches.each do |match|
            = match.content
      .Bar-left__middle
        - matches.each do |match|
          .Job-box
            .Upper-job
              .Upper-job__new
                NEW
              .Upper-job__no
                job.no eeeeeeee
            .Job-catch
              .Job-catch__textarea
                .Job-catch__textarea--text
                  =match.title
              .Job-catch__box
                .Job-catch__box--star
                  = render partial: "favorite_ajax", locals: { match: match }
                .Job-catch__box--text
                  気になる!
                  -# = match.favorites.count
            .Contents
              %a{ href: match_path(match.id), class: "Contents__link" } 
              .Content-left
                = image_tag match.image1.url, class: 'Content-left__img' if match.image1.present?
              .Content-right
                .Text-content
                  .Text-content__left
                    = icon('far', 'file-alt')
                  .Text-content__right
                    =match.occupation
                .Text-content
                  .Text-content__left
                    = icon('fas', 'yen-sign')
                  .Text-content__right
                    =match.salary
                .Text-content
                  .Text-content__left
                    = icon('far', 'calendar-alt')
                  .Text-content__right
                    =match.term
                .Text-content
                  .Text-content__left
                    = icon('fas', 'map-marker-alt')
                  .Text-content__rightlong
                    =match.access
    .Bar-right
      .Search-wrapper
        .Search-title
          仕事を検索する
        .Search-box
          = form_with url: search_matches_path, local: true, method: :get do |form|
            = form.text_field :keyword, class: 'Search-box__input', placeholder: '仕事を検索する'
            = form.submit '検索', class: 'Search-box__button'