!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DispatchSite
    = csrf_meta_tags
    = csp_meta_tag
    %link{ rel:"stylesheet", href:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" }
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{ rel:"stylesheet", type:"text/css", href:"//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" }
    %link{ rel:"stylesheet", type:"text/css", href:"//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" }
    = javascript_include_tag 'application'
    %script{ type:"text/javascript", src:"//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" }
    %script{ src:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" }
  %body
  .Header
    .Header-logo
      = link_to root_path do
        .Header-logo__image
          = image_tag 'haken logo.png', class: "Header-logo__image--pic"
    .Header-right
      - if user_signed_in?
        .Header-right__img
          = image_tag current_user.image.to_s, class: 'Header-right__img--file'
        .Header-right__devise
          .Header-right__devise--icon
            = icon('far', 'building')
          = link_to jobs_path, class:"Header-right__devise--text" do
            企業担当者はこちら
        .Header-right__devise
          .Header-right__devise--icon
            = icon('fas', 'sign-out-alt')
          = link_to destroy_user_session_path, class:"Header-right__devise--text", method: :delete do
            サインアウト
      - else
        .Header-right__devise
          .Header-right__devise--icon
            = icon('far', 'building')
          = link_to jobs_path, class: "Header-right__devise--text" do
            企業担当者はこちら
        .Header-right__devise
          .Header-right__devise--icon
            = icon('fas', 'user')
          = link_to user_session_path, class:"Header-right__devise--text" do
            ログイン
        .Header-right__devise
          .Header-right__devise--icon
            = icon('fas', 'sign-in-alt')
          = link_to new_user_registration_path, class:"Header-right__devise--text" do
            サインイン
  = yield
  .Footer
    .Footer-logo
      = link_to root_path do
        .Header-logo__image
          = image_tag 'haken logo.png', class: "Header-logo__image--pic"
    .Footer-right
      .Footer-right__text
        = link_to "#", class: "Footer-right__text--font" do
          お問い合わせ
      .Footer-right__text
        = link_to "#", class: "Footer-right__text--center" do
          プライバシーポリシー
      .Footer-right__text
        = link_to "#", class:"Footer-right__text--font" do
          ご利用に当たって