!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DispatchSite
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  .Header
    = link_to root_path, class: 'Header-logo' do
      COMPANY LOGO
    .Header-right
      .Header-right__img
        -# = current_user.image.url class: 'Header-right__img--file'
      = link_to jobs_path, class: "Header-right__text" do
        = icon('far', 'building', class: 'Header-right__text--building')
      - if user_signed_in?
        .Header-right__logout
          = link_to destroy_user_session_path, method: :delete do
            = icon('fas', 'sign-out-alt', class: 'Header-right__logout--sign-out-alt')
      - else
        .Header-right__signup
          = link_to new_user_registration_path do
            新規登録
  = yield
  .Footer